<script src="ilet.js"></script>

<script>
	"use strict"; // just for fun
	if (ilet.A( [] ))
		console.log("it's array!");
	if (ilet.S( "" ))
		console.log("it's string!");
	if (ilet.B( true ))
		console.log("it's boolean!");
	if (ilet.N( -.1 ))
		console.log("it's number!");
	if (ilet.F( function(){} ))
		console.log("it's function!");
	if (ilet.T( new Date, "Date" ))
		console.log("ilet.T(obj, strType) can check custom types!");
	if (ilet.odd( 3 ))
		console.log("it's odd!");
	if (ilet.even( 2 ))
		console.log("it's even!");
	if (! ilet.validDate(new Date("dasdasd")))
		console.log("it's INVALID date!");
	if (ilet.validDate(new Date("1970")))
		console.log("it's valid date!");
	var letter_A            = ilet.chr(65);
	var letter_a            = ilet.chr(97);
	var character_code_of_A = ilet.ord("A");
	var timeStamp = ilet.time();
	var alphabet_lowercase  = ilet.alpha();
	var Alphabet_lowercase  = ilet.abc();
	var alphabet_UPPERCASE  = ilet.Alpha();
	var Alphabet_UPPERCASE  = ilet.ABC();
	var all_numbers         = ilet._12();
	// Note: arrayAlikeObj cannot be string
	// ilet.a(arrayAlikeObj)  = converts to array (throws an exception if invalid)
	// ilet.sa(arrayAlikeObj) = converts to "Silent" Array (it means: suppresses errors and yields 'null' instead of error)
	// ilet.i(expression)     = converts to integer (or FLOORs the number)
	// ilet.s(expression)     = converts to string
	// ilet.s(expression)     = converts to boolean
	// ilet.t(expression)     = gets type of given value/variable
	var arr   = ilet.sa(4);
	var Arr   = ilet.a(document.querySelectorAll("*"));
	var num   = ilet.i("1.43");
	var str   = ilet.s(43);
	var bool  = ilet.b("1");
	var val   = 43;
	var type  = ilet.t(val);
		type  = ilet.t(43);
	// ilet.uni = gets unique items from array, works on string too (letter)
	// CAUTION: emojis may shatter and never exist anymore
	var unique = ilet.uni("abbcddeefff");
	var Unique = ilet.uni([1,1,2,3]);
	// ilet.inA = checks whether item exist in an array
	if (ilet.inA([11, 2], 11))
		console.log("11 exists!");
	var tmr = new ilet.Timer({
		nap: 1000, // nap - interval/delay, 1000 ms = 1 second
		tick: function(ticks){ // execute this on every tick - logic
			console.log(ticks);
		},
		done: function(){ // execute this when done (doesn't work if there's no 'till')
			console.log("xD")
		},
		till: 4, // when to stop?
		play: 1  // autostart the timer
	});
	// tmr.end()   // stops timer
	// tmr.start() // starts timer
	// tmr.on("done", function(ticks){...})
	// tmr.on("tick", function(ticks){...})
	// tmr.done(function(ticks){...})
	// tmr.tick(function(ticks){...})
</script>